Repository zer0Kerbal/RadialOmniSeparator, pull requests merged in 2022-10, with the labels that each got.

#35 Added italian translation
  GameData/nli2work/RadialOmniSeparator/Localization/it-it.cfg
Labels: type: localization, hacktoberfest, hacktoberfest-accepted

#40 Version 1.0.0.1-release - `<MattNot Separatore Radiale Omnia>`
  GameData/nli2work/RadialOmniSeparator/1.0.0.1.htm
  GameData/nli2work/RadialOmniSeparator/Attributions.htm
  GameData/nli2work/RadialOmniSeparator/Localization/it-it.cfg
  GameData/nli2work/RadialOmniSeparator/RadialOmniSeparator.version
  GameData/nli2work/RadialOmniSeparator/changelog.md
  GameData/nli2work/RadialOmniSeparator/readme.htm
  RadialOmniSeparator.version
  changelog.md
  docs/changelog.md
  json/mod.json
Labels: semantic: release

#42 Norwegian translation, initial attempt.
  GameData/nli2work/RadialOmniSeparator/Localization/no-no.cfg
Labels: type: localization, hacktoberfest-accepted

#47 Version 1.0.0.2-release - `<tplive Norsk>` edition
  GameData/nli2work/RadialOmniSeparator/1.0.0.2.htm
  GameData/nli2work/RadialOmniSeparator/Attributions.htm
  GameData/nli2work/RadialOmniSeparator/Localization/en-us.cfg
  GameData/nli2work/RadialOmniSeparator/Localization/it-it.cfg
  GameData/nli2work/RadialOmniSeparator/Localization/no-no.cfg
  GameData/nli2work/RadialOmniSeparator/RadialOmniSeparator.version
  GameData/nli2work/RadialOmniSeparator/changelog.md
  GameData/nli2work/RadialOmniSeparator/readme.htm
  RadialOmniSeparator.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/1.0.0.0.md
  docs/ReleaseNotes/1.0.0.1.md
  docs/ReleaseNotes/1.0.0.2.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release, hacktoberfest-accepted

#49 Spanish Version of <es-es.cfg>
  GameData/nli2work/RadialOmniSeparator/Localization/es-es.cfg
Labels: type: localization, good-first-issue, contributions-welcome, beginner-friendly, hacktoberfest-accepted
